body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

h1 {
    color: #333;
    margin-top: 30px;
}

#numeroInput {
    padding: 10px;
    font-size: 18px;
    border: 2px solid #ccc;
    border-radius: 5px;
    margin: 20px;
}

#resultado {
    font-size: 24px;
    margin: 20px;
}

.h12 {
    color: #333;
    margin-top: 30px;
}

.input-container1 {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.input1 {
    padding: 10px;
    font-size: 18px;
    border: 2px solid #ccc;
    border-radius: 5px;
    margin: 0 10px;
    width: 135px;
}

.botonsumar {
    margin: 10px 0 0 0 ;
}

#resultado1 {
    font-size: 24px;
    margin: 20px;
}

.h14 {
    color: #333;
    margin-top: 30px;
}

#numeroInput1 {
    padding: 10px;
    font-size: 18px;
    border: 2px solid #ccc;
    border-radius: 5px;
    margin: 20px;
}

#resultado2 {
    font-size: 24px;
    margin: 20px;
}